@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-3 border-bottom">
    <div class="col text-center">
        <h2>
            Candidates Dashboard
            <i class="fas fa-chart-line"></i>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col">
        ...
    </div>
</div>