@model GestaoDeCandidatos.Models.ViewModels.CandidatesViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CandidateExperiences</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="candidates.Name" class="control-label"></label>
                <input asp-for="candidates.Name" class="form-control" />
                <span asp-validation-for="candidates.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="candidates.Surname" class="control-label"></label>
                <input asp-for="candidates.Surname" class="form-control" />
                <span asp-validation-for="candidates.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="candidates.Birthdate" class="control-label"></label>
                <input asp-for="candidates.Birthdate" class="form-control" />
                <span asp-validation-for="candidates.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="candidates.Email" class="control-label"></label>
                <input asp-for="candidates.Email" class="form-control" />
                <span asp-validation-for="candidates.Email" class="text-danger"></span>
            </div>
            @*Cad Experiences*@
            <div class="form-group">
                <label asp-for="experiences.Company" class="control-label"></label>
                <input asp-for="experiences.Company" class="form-control" />
                <span asp-validation-for="experiences.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="experiences.Job" class="control-label"></label>
                <input asp-for="experiences.Job" class="form-control" />
                <span asp-validation-for="experiences.Job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="experiences.Description" class="control-label"></label>
                <input asp-for="experiences.Description" class="form-control" />
                <span asp-validation-for="experiences.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="experiences.Salary" class="control-label"></label>
                <input asp-for="experiences.Salary" class="form-control" />
                <span asp-validation-for="experiences.Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="experiences.BeginDate" class="control-label"></label>
                <input asp-for="experiences.BeginDate" class="form-control" />
                <span asp-validation-for="experiences.BeginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="experiences.EndDate" class="control-label"></label>
                <input asp-for="experiences.EndDate" class="form-control" />
                <span asp-validation-for="experiences.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
