@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <br />
    <h3><a href="candidates">Click here to operate on candidates.</a></h3>
    <h3><a href="candidateexperiences">Click here to operate on candidate experiences.</a></h3>
    <br />
    <p>Developed by Matheus Expedito Perdiz Victor.</p>
    <p><a href="https://www.github.com/maexpe">My GitHub.</a></p>
    <p><a href="https://www.linkedin.com/in/maexpe">My LinkedIn.</a></p>
    <p><a href="https://www.maexpe.com">My personal website (outdated).</a></p>
</div>
